{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Bank ODPCS{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-T65P6v76rg4c2CBX6ufF9Zn5Nqf2F/Ebb4DViQPP9tl2Rd4JTvm4Rw6A/2O5H6PW"></script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="/">Bank ODPCS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cards:credit_cards' %}">Tarjetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cuentas bancarias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
    <span class="user">
      {% if request.user.is_authenticated %}
      Hello <a href="{% url 'profile' %}">{{ request.user.first_name|default:request.user.username }}</a>,
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Log-in</a>
      {% endif %}
    </span>
  </header>
  <main>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>

</html>
