{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans 'Restablecer tu contraseña' %} {% endblock %}
{% block content %}
<div class="resetPasswordContainer">
  <h1 class="resetPasswordTitle">{% trans 'Restablecer tu contraseña' %}</h1>
  {% if validlink %}
  <p class="resetPasswordMessage">{% trans 'Por favor ingrese tu nueva contraseña dos veces:' %}</p>
  <form method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <p><input class="resetPasswordBtn" type="submit" value="Cambiar mi contraseña" /></p>
  </form>
  {% else %}
  <p class="resetPasswordMessage">{% trans 'El enlace para restablecer la contraseña no era válido, posiblemente porque ya se había utilizado. Solicite un nuevo restablecimiento de contraseña.' %}</p>
  {% endif %}
  <a href="{% url "login" %}">{% trans 'Volver a inicio' %}</a>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #333;
      }
      
      .resetPasswordContainer {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      .resetPasswordTitle {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      .resetPasswordMessage {
        font-size: 16px;
        line-height: 1.5;
      }
      
      .resetPasswordBtn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .resetPasswordBtn:hover {
        background-color: #0056b3;
      }
      
</style>
{% endblock %}
