{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Reinicia tu contraseña" %}{% endblock %}
{% block content %}
<div class="container-password">
    <h1><strong>{% trans "¿Has olvidado tu contraseña?" %}</strong></h1>
    <strong>{% trans "Ingrese su dirección de correo electrónico para obtener una nueva contraseña." %}</strong></p>
    <form method="post" class="mt-3 formulario-defecto">
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary"><strong><b>{% trans "Enviar correo" %}</strong></b></button>
    {% csrf_token %}
    </form>
</div>
{% endblock %}