{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Reinicia tu contraseña" %}{% endblock %}
{% block content %}
<style>
    .container-password {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1 {
        color: #007bff;
        margin-bottom: 20px;
    }

    strong {
        font-weight: bold;
    }

    .formulario-change-password {
        margin-top: 20px;
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container-password">
    <h1><strong>{% trans "¿Has olvidado tu contraseña?" %}</strong></h1>
    <p><strong>{% trans "Ingrese su dirección de correo electrónico para obtener una nueva contraseña." %}</strong></p>
    <form method="post" class="formulario-change-password">
        {{ form|crispy }}
        <button type="submit"><strong>{% trans "Enviar correo" %}</strong></button>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
