{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<h2>Your credit cards:</h2>
{% for cards in credit_cards %}
  <div class="card">
    <div class="card-header">
      {{ cards.alias }}
    </div>
    <div class="card-content">
      <span>Card Code:</span> {{ cards.card_code }}
    </div>
    <div class="card-content">
      <span>Pin:</span> {{ cards.pin }}
    </div>
    <div class="card-content">
      <span>Status:</span> {{ cards.status }}
    </div>
    <a href="{% url 'cards:block_credit_card' cards.card_code %}">Bloquear</a>
    <a href="{% url 'cards:delete_credit_card' cards.card_code %}">Eliminar</a>
  </div>
  {% empty %}
  <p>No se han encontrado tarjetas</p>
{% endfor %}