{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="container">
    {% for card in credit_cards %}
        <div class="card">
            <div class="card-inner">
                <div class="front">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                    <div>
                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px">
                    </div>
                    <div class="row card-no">
                        <p>{{ card.card_code }}</p>
                    </div>
                    <div class="row card-holder">
                        <p>{{ card.alias|upper }}</p>
                    </div>
                    <div class="row name">
                        <p>{{ card.user.get_full_name|upper }}</p>
                    </div>
                </div>
                <div class="back">
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                    <div class="bar"></div>
                    <div class="row">
                        <a href="{% url 'cards:block_credit_card' card.card_code %}" class="button">Bloquear</a>
                        <a href="{% url 'cards:delete_credit_card' card.card_code %}" class="button">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
