{% extends "base.html" %}
{% block title %}My Credit Cards{% endblock %}

{% block content %}
    <form class="selectForm" method="get">
        <select class="accountSelect" name="account_id">
            <option value="">Selecciona una cuenta</option>
            {% for account in accounts %}
                <option class="accountOption" value="{{ account.id }}">{{ account.alias }}</option>
            {% endfor %}
        </select>
        <select class="accountStatus" name="status">
            <option value="AC">Activo</option>
            <option value="BL">Bloqueado</option>
            <option value="DO">Inactivo</option>
        </select>
        <button class="filterButton" type="submit">Filtrar</button>
    </form>
  {% include "cards/credit_card_list.html" with credit_cards=credit_cards %}
{% endblock %}
