{% extends "base.html" %}
{% block content %}
<div class="container">
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Tipo de transferencia" %}</th>
                    <th>{% trans "Agente" %}</th>
                    <th>{% trans "Concepto" %}</th>
                    <th>{% trans "Fecha" %}</th>
                    <th>{% trans "Cantidad" %}</th>
                </tr>
            </thead>
            <tbody>
                {% if transactions %}
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.kind }}</td>
                            <td>{{ transaction.agent }}</td>
                            <td>{{ transaction.concept }}</td>
                            <td>{{ transaction.timestamp }}</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">Todavia no hay transferencias</td>
                    </tr>
                {% endif %}
            </tbody>
            
        </table>
    </div>

    
</div>
{% endblock %}