<!-- movements.html -->
{% extends "base.html" %}
{% load i18n %}
{% block title %}Transaction List{% endblock %}

{% block content %}
<!-- Botón o enlace para exportar a CSV -->

<div class="container mt-5 mb-5">

    <div class="card">
        <div class="card-header">
            <h4 class="d-flex justify-content-between align-items-center mb-0">
                <span>{% trans "Transferencia"%}</span>
            </h4>
            <!-- Agregar un botón para dirigir al usuario a la página de transferencia -->
            <a href="{% url 'transactions:outcoming' %}"><button class="transferBtn">{% trans "Realizar transferencia" %}</button></a>
            <a href="{% url 'transactions:export_transactions_csv' %}"><button class="transferBtn">{% trans "Exportar a CSV"%}</button></a>            
        </div>
        <div class="card-body p-4">
            <!-- Filtro -->
            <form method="get" action="{% url 'transactions:movements' %}">
                <label for="account_id">{% trans "Cuenta:" %}</label>
                <select name="account_id">
                    <option value="">{% trans "Todas" %}</option>
                    {% for account in accounts %}
                    <option value="{{ account.code }}" {% if account.code == account_id %}selected{% endif %}>{{account.alias }}</option>
                    {% endfor %}
                </select>

                <label for="transaction_type">{% trans "Tipo de transaccion:" %}</label>
                <select name="transaction_type">
                    <option value="">{% trans "Todas" %}</option>
                    <option value="INCOMING" {% if transaction_type == 'INCOMING' %}selected{% endif %}>{% trans "Entrantes" %}</option>
                    <option value="OUTGOING" {% if transaction_type == 'OUTGOING' %}selected{% endif %}>{% trans "Salientes" %}</option>
                    <option value="PAYMENT" {% if transaction_type == 'PAYMENT' %}selected{% endif %}>{% trans "Pagos" %}</option>
                </select>

                <button type="submit">{% trans "Filtrar" %}</button>
            </form>
        </div>

        <!-- Lista de Transacciones -->
        <table>
            <thead>
                <tr>
                    <th>{% trans "Tipo de transferencia:" %}</th>
                    <th>{% trans "Agente" %}</th>
                    <th>{% trans "Concepto" %}</th>
                    <th>{% trans "Fecha" %}</th>
                    <th>{% trans "Cantidad " %}</th>
                </tr> 
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.kind }}</td>
                    <td>{{ transaction.agent }}</td>
                    <td>{{ transaction.concept }}</td>
                    <td>{{ transaction.timestamp }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- Paginación -->
        <div class="pagination">
            <span class="step-links">
                {% if transactions.has_previous %}
                <a href="?page=1">&laquo; {% trans "Primera"%}</a>
                <a href="?page={{ transactions.previous_page_number }}">{% trans "Anterior" %}</a>
                {% endif %}

                <span class="current">
                    {% trans "Página" %} {{ transactions.number }} {% trans "de" %} {{ transactions.paginator.num_pages }}.
                </span>

                {% if transactions.has_next %}
                <a href="?page={{ transactions.next_page_number }}">{% trans "Siguente" %}</a>
                <a href="?page={{ transactions.paginator.num_pages }}">{% trans "Última" %} &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}