<!-- movements.html -->
{% extends "base.html" %}
{% block title %}Transaction List{% endblock %}

{% block content %}
<!-- Botón o enlace para exportar a CSV -->

<div class="container mt-5 mb-5">

    <div class="card">
        <div class="card-header">
            <h4 class="d-flex justify-content-between align-items-center mb-0">
                <span>Transferencia</span>
            </h4>
            <!-- Agregar un botón para dirigir al usuario a la página de transferencia -->
            <a href="{% url 'transactions:outcoming' %}"><button class="transferBtn">Realizar Transferencia</button></a>
            <a href="{% url 'transactions:export_transactions_csv' %}"><button class="">Exportar a CSV</button></a>            
        </div>
        <div class="card-body p-4">
            <!-- Filtro -->
            <form method="get" action="{% url 'transactions:movements' %}">
                <label for="account_id">Account:</label>
                <select name="account_id">
                    <option value="">All</option>
                    {% for account in accounts %}
                    <option value="{{ account.code }}" {% if account.code==account_id %}selected{% endif %}>{{
                        account.alias }}</option>
                    {% endfor %}
                </select>

                <label for="transaction_type">Transaction Type:</label>
                <select name="transaction_type">
                    <option value="">All</option>
                    <option value="INCOMING" {% if transaction_type=='INCOMING' %}selected{% endif %}>Incoming</option>
                    <option value="OUTGOING" {% if transaction_type=='OUTGOING' %}selected{% endif %}>Outgoing</option>
                    <option value="PAYMENT" {% if transaction_type=='PAYMENT' %}selected{% endif %}>Payment</option>
                </select>

                <button type="submit">Filter</button>
            </form>
        </div>

        <!-- Lista de Transacciones -->
        <table>
            <thead>
                <tr>
                    <th>Transfer Type</th>
                    <th>Agent</th>
                    <th>Concept</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.kind }}</td>
                    <td>{{ transaction.agent }}</td>
                    <td>{{ transaction.concept }}</td>
                    <td>{{ transaction.timestamp }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- Paginación -->
        <div class="pagination">
            <span class="step-links">
                {% if transactions.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ transactions.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
                </span>

                {% if transactions.has_next %}
                <a href="?page={{ transactions.next_page_number }}">next</a>
                <a href="?page={{ transactions.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}