{% extends "base.html" %}
{% block title %}My Accounts{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    
    <div class="card">
        <div class="card-header">
            <h4 class="d-flex justify-content-between align-items-center mb-0">
                <span>Transferencia</span>
            </h4>
            <!-- Agregar un botón para dirigir al usuario a la página de transferencia -->
            <a href="{% url 'transactions:outcoming' %}" class="btn btn-primary">Realizar Transferencia</a>
        </div>
        <div class="card-body p-4">

            <form method="get">
                <select onchange="window.location.href=this.value;" name="account_id">
                    <option value="">Selecciona una cuenta</option>
                    {% for account in accounts %}
                        <option value="{% url "transactions:transactions_list" account.code %}">{{ account.alias }}</option>
                    {% endfor %}
                </select>
                <select name="status">
                    <option value="AC">Activo</option>
                    <option value="BL">Bloqueado</option>
                    <option value="DO">Inactivo</option>
                </select>
            </form>
    
        </div>
    </div>
</div>
{% endblock %}
