{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-container">
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <details>
      <summary>Acciones de Tarjetas</summary>
      <a href="{% url 'clients:add_credit_card' %}">Añadir Tarjeta</a>
      <a href="{% url 'clients:credit_cards' %}">Ver Tarjetas</a>
    </details>
    <details>
      <summary>Acciones del Cliente</summary>
      <a href="{% url 'clients:edit'%}">Editar Perfil</a>
      <a href="{% url "password_reset" %}">Cambiar Contraseña</a>
      <a href="{% url 'clients:deactivate' account_id=request.user.client.id%}">Desactivar Cuenta</a>
    </details>
    <details>
      <summary>Acciones Cuentas</summary>
      <a href="{% url 'clients:register' %}">Registrar Cuenta</a>
    </details>
  </div>

  <div id="main" class="main-content">
    <button class="openbtn" onclick="openNav()">☰ Show Actions</button>
    <h1 class="dashboard-title">Welcome, {{ user.username }}!</h1>
  </div>
  
  <div class="container">
    <div class="row">
      {% for account in accounts %}
        {% if account.status == 'AC' %}
          <div class="col-md-4">
            <div class="card account-card">
              <div class="card-header">
                <h2><a href="{% url 'clients:account_details' account.id %}">{{ account.alias }}</a></h2>
              </div>
              <div class="card-body">
                <p>Code: {{ account.code }}</p>
                <p>Balance: {{ account.balance }}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'clients:edit_alias' account.id %}" class="btn btn-primary">Edit Alias</a>
                <a href="{% url 'clients:deactivate' account.id %}" class="btn btn-danger">Deactivate Account</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
</div>

<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
{% endblock %}