{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-container">
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <details>
      <summary>Acciones de Tarjetas</summary>
      <a href="{% url 'cards:add_credit_card' %}">Añadir Tarjeta</a>
      <a href="{% url 'cards:credit_cards' %}">Ver Tarjetas</a>
    </details>
    <details>
      <summary>Acciones de Cuenta</summary>
      <a href="{% url 'edit' %}">Editar Perfil</a>
      <a href="{% url "password_reset" %}">Cambiar Contraseña</a>
      <a href="{% url 'deactivate' %}">Desactivar Cuenta</a>
    </details>
  </div>

  <div id="main" class="main-content">
    <button class="openbtn" onclick="openNav()">☰ Show Actions</button>
    <h1>Welcome, {{ user.username }}!</h1>
  </div>
</div>
{% include "cards/cards_sidebar.html" %}
{% include "cards/credit_card_list.html" with credit_cards=credit_cards %}
<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
{% endblock %}