{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block title %}{% trans "Edita tu cuenta" %}{% endblock %}
{% block content %}
<div class="container-profile">
    <div class="container-fluid edit-profile">
        <h1 class="display-4">
            <strong>
                <b>{% trans "Edita tu cuenta" %}</b>
            </strong>
        </h1>
        <div class="row">
            <div class="col-md-3 imagen-edit">
                
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo" accept="image/*" id="photo-input" style="display: none;">
                <label for="photo-input">
                    <img src="{% thumbnail photo.photo 180x180 %}" class="user-detail">
                </label>
                <div class="col-md-3 info">
                    <strong><b>{{ user_form.as_p }}</strong></b>
                </div>
                <button class="btn btn-primary button" type="submit">{% trans "Guardar"%}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
