{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Edita tu cuenta" %}{% endblock %}
{% block content %}
<div class="container-profile">
    <div class="container-fluid edit-profile">
        <h1>
            <strong>
                <b>{% trans "Edita tu cuenta" %}</b>
            </strong>
        </h1>
        <div class="row">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="col-md-3 imagen-edit">
                
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <input type="file" name="photo" accept="image/jpg, image/png" id="photo-input" style="display: none;">
                <label for="photo-input">
                    {% if photo%}
                        <img src="{% thumbnail photo 180x180 %}" class="user-detail">
                    {% else %}
                        <img src="{% static '../media/no_picture.png' %}" class="user-detail" >
                    {% endif%}
                </label>
                <div class="col-md-3 info">
                    <strong><b>{{ user_form.as_p }}</strong></b>
                </div>
                <div class="col-md-3 info">
                    <button class="btn btn-primary button" type="submit">{% trans "Guardar"%}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
