{% extends "base.html" %} 
{% load thumbnail %} 
{% load i18n %} 
{% load static %}
{% block title%}{% trans "Perfil de cliente" %}{% endblock %} 
{% block content %}
<div class="container container-profile" style="width: 750px">
  <div class="profile">
    <h1 class="display-4">
      <strong
        ><b>{% trans "Perfil de" %} {{ profile.user.username }}</b></strong
      >
    </h1>
    <div class="row">
      <div class="col-md-4 imagen">
        {% if profile.photo %}
        <img src="{% thumbnail profile.photo 180x180 %}" class="user-detail"/>
        {% else %}
            <img src="{% static '../media/no_picture.png' %}" class="user-detail" >
        {% endif %}
      </div>
      <div class="col-md-5 info">
        <p class="lead mb-5">
          <strong><b>{% trans "Nombre de usuario:" %} </b></strong>
        </p>
        <p class="user">{{ profile.user.username }}</p>
        <p class="lead mb-5">
          <strong><b>{% trans "Nombre:" %}</b></strong>
        </p>
        <p class="user">{{ profile.user.first_name }}</p>
        <p class="lead mb-5">
          <strong><b>{% trans "Apellido:" %} </b></strong>
        </p>
        <p class="user">{{ profile.user.last_name }}</p>
        <p class="lead mb-5">
          <strong><b>{% trans "Correo electrónico:" %} </b></strong>
        </p>
        <p class="user">{{ profile.user.email }}</p>
      </div>
      <div class="profile_buttons">
        <form action="{% url 'clients:edit' %}">
          <button class="btn btn-primary" type="submit">
            {% trans "Editar perfil" %}
          </button>
        </form>
        <form action="{% url 'password_reset' %}">
          <button class="btn btn-primary" type="submit">
            {% trans "Cambiar contraseña" %}
          </button>
        </form>
        <form
          action="{% url 'clients:deactivate_client' request.user.client.id %}"
          method="post"
        >
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">
            {% trans "Desactivar cuenta" %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
