{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Crear una cuenta" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md-3">
            <div class="row custom-row formulario-register">
                <h1>{% trans "Crear una cuenta" %}</h1>
                <hr>
                <p><strong><b>{% trans "Por favor, regístrate utilizando el siguiente formulario:" %}</b></strong></p>
                <form method="post" enctype="multipart/form-data">
                    <strong><b>{{ user_form.as_p }}</b></strong>
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" class="btn btn-primary" value={% trans "Crear mi cuenta"%}></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
