{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-flex justify-content-between align-items-center mb-0">
                        <span>Payment Details</span>
                        {% comment %} <img class="img-fluid" src="https://i.imgur.com/2zDU056.png" width="50px"> {% endcomment %}
                    </h4>
                </div>
                <div class="card-body p-4">

                    <!-- Modificación: enviar la solicitud POST a la URL de la vista process_payment -->
                    <form method="post" action="{% url 'transactions:payment' %}">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="business" class="form-label">Business</label>
                            <input type="text" id="business" name="business" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label for="ccc" class="form-label">Client Card Code (CCC)</label>
                            <input type="text" id="ccc" name="ccc" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label for="pin" class="form-label">PIN</label>
                            <input type="password" id="pin" name="pin" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="decimal" step="0.01" id="amount" name="amount" class="form-control">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Pay</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<style>

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-body {
    background-color: #fff;
    padding: 30px;
}

.form-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 14px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

</style>
{% endblock %}