body {
  font-family: Arial, sans-serif;
  background-color: #92c6ce;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* HEADER */

header {
  background: linear-gradient(to top, #001548, #1098e1);
  color: white;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  box-shadow: 0 0 10px rgba(30, 72, 211, 0.8); /* Agrega una sombra de color naranja (efecto neón) */
  animation: neon 1.5s infinite alternate; /* Agrega una animación de parpadeo */
}

@keyframes neon {
  from {
    box-shadow: 0 0 20px rgba(3, 153, 240, 0.8);
  }
  to {
    box-shadow: 0 0 40px #3555e7, 0 0 30px rgba(30, 72, 211, 0.8);
  }
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

nav a {
  font-weight: bold;
}

.navbar {
  background-color: #16677be8;
  height: 4rem;
  padding: 0.5rem 2rem;
}

nav ul.nav-header,
nav a.navbar-brand {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: #f0a93e;
  text-shadow: 2px 2px 4px #000000;
}

nav ul.nav-header {
  width: 31em;
}

#navbarNav {
  /* margin-left: 1.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-nav li {
  width: auto;
  margin-right: 20px;
  color: white;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

.user {
  display: inline-block;
  margin: 10px 20px;
}

.user a,
.user {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.user img {
  border: 2px solid #f0a93e;
}

.user a:hover {
  text-decoration: underline;
}

#content {
  display: flex;
  padding: 20px;
}

/* dashboard.html */

.main-content {
  flex: 1;
  padding: 20px;
  z-index: 5;
}
.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 5;
  top: 5em; /* Cambiado de 0 a 3em */
  right: 0;
  background-color: #16677b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar summary {
  color: white;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* #navbarNav ul li a{
      color: #023047;
  } Comentado por Afellay*/

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 0.25rem;
  border: none;
  background-color: #16677be8;
  color: white;
  float: right;
}

.openbtn:hover {
  background-color: #0d3944e8;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
ul.messagelist li {
  display: block;
  font-weight: 400;
  font-size: 0.8125rem;
  padding: 10px 10px 10px 65px;
  margin: 0 0 10px 0;
  background: var(--message-success-bg) url(../img/icon-yes.svg) 40px 12px
    no-repeat;
  background-size: 16px auto;
  color: var(--body-fg);
  word-break: break-word;
}
/* ul > li {
      list-style-type: square;
      padding: 1px 0;
    } Lo quito Afellay para que el header funcione*/

li,
dt,
dd {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
/* Estilo personalizado para el elemento row */
.custom-row {
  background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
  padding: 20px; /* Añade espacio interior al row */
  border-radius: 10px; /* Agrega bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra */
  margin-top: 20px; /* Añade margen superior */
  /* Otros estilos personalizados según tus preferencias */
}

main {
  height: 100vh;
  padding-top: 20px;
}

/* Center the login form */

.formulario-defecto {
  font-family: Arial, sans-serif;
  background-color: #16677b9d;
}



.formulario-defecto h1 {
  text-align: center;
  font-weight: bold;
  color: #023047;
}

.formulario-defecto .alert {
  background-color: #8ecae6;
  color: #023047;
  padding: 10px;
  border-radius: 5px;
}

.formulario-defecto .form-group {
  margin-bottom: 20px;
}

.formulario-defecto input[type="text"],
.formulario-defecto input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-defecto button {
  padding: 10px 20px;
  background-color: #023047;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulario-defecto .btn-primary {
  padding: 10px 20px;
  background-color: #023047;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulario-defecto button:hover {
  background-color: #126782;
}

.formulario-defecto .link {
  color: #f0a93e;
}

.formulario-register{
  background-color: #f0a93e;

}

.formulario-change-password button {
  padding: 10px 20px;
  background-color: #023047;
  color: #fff;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* profile.html // edit.html*/

.container-profile {
  margin: 0 auto;
  padding: 20px;
  width: 70%;
}

.container-profile .profile h1,
.container-profile .edit-profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #023047;
  text-align: center;
}

.container-profile img.user-detail {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 20%;
}

.container-profile .info {
  margin-left: 10%;
}

.profile p {
  margin-bottom: 0 !important;
  margin-bottom: 5px;
}

.container-profile .user {
  font-weight: bold;
  color: #ffffff;
}

.profile_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}

.profile_buttons button {
  background-color: #023047;
  border-color: #023047;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1%;
}

.container-profile .profile,
.edit-profile,
.container-password {
  background-color: #f0a93e;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  padding-left: 5%;
}

.container-profile .edit-profile .info {
  margin: 0px;
  margin-left: 10%;
}

.container-profile .edit-profile {
  width: 65%;
}

.container-profile .edit-profile form {
  width: 70%;
}

.edit-profile p {
  margin-bottom: 15%;
  width: 200%;
}

.container-profile .edit-profile .user-detail:hover {
  animation: neon-border 5s infinite alternate;
}
.fondo {
  background-color: #219ebc;
}

.btn-account {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px 20px;
  background-color: #023047;
  color: #fff;
}

.container-password {
  margin: 0 auto;
  padding: 20px;
  padding-left: 5%;
  width: 50%;
}

.container-password form p {
  font-weight: bold;
}

#carouselAccounts {
  width: 40%;
}

.bank-account {
  background-color: #f0a93e;
  border: 1px solid #023047;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.bank-account h5 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.bank-account .card-text {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
  border-radius: 50%;
  color: white;
  padding: 10px;
}

.account-card {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
  z-index: 5;
}

.account-header {
  margin-bottom: 10px;
}

.account-footer {
  margin-top: 10px;
}
.account-card .card-header a {
  font-weight: bold;
  color: #023047;
}

.account-card div {
  width: 100%;
  background-color: #f0a93e;
}

.account-card .card-body {
  background-color: #ffd670;
}

.account-card .card-footer .btn,
.account-list .btn {
  padding: 10px 20px;
  background-color: #023047;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-card .card-footer .btn:hover {
  background-color: #007bff;
}

.dashboard-title {
  font-weight: bold;
  color: #023047;
  text-align: center;
}

.account-create .btn-primary {
  padding: 10px 20px;
  background-color: #023047;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-create .alert {
  position: relative;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #023047;
  border-radius: 0.25rem;
  background-color: #8ecae6;
}

span .user-detail {
  object-fit: cover;
  border-radius: 50%;
}

@keyframes neon-border {
  0% {
    box-shadow: 0 0 10px #3a86ff;
  }
  25% {
    box-shadow: 0 0 20px #7b2cbf;
  }
  50% {
    box-shadow: 0 0 30px #3a86ff;
  }
  75% {
    box-shadow: 0 0 40px #7b2cbf;
  }
  100% {
    box-shadow: 0 0 50px #3a86ff;
  }
}

/*Add Card*/
.addCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 100%;
  padding: 10px;
}

.addCardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0a93e;
  padding: 30px;
  border: none;
  border-radius: 5px;
}

.addCardForm h1 {
  font-weight: bold;
}

.addCardForm p input {
  font-size: 16px;
  font-weight: 400;
  background-color: #023047;
  border-color: #023047;
  max-width: 100%;
  margin: 10px;
}

/* Confirm Delete Card */
.confirmDeleteCard {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.confirmDeleteCard h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.confirmDeleteCard form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmDeleteCard input.deleteConfirmBtn,
.confirmDeleteCard a.deleteCancelBtn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.confirmDeleteCard input.deleteConfirmBtn {
  background-color: #ff0000;
  border: none;
  margin-right: 10px;
}

.confirmDeleteCard a.deleteCancelBtn {
  background-color: #ccc;
  border: none;
}

.confirmDeleteCard input.deleteConfirmBtn:hover,
.confirmDeleteCard a.deleteCancelBtn:hover {
  opacity: 0.8;
}


thead {
  background-color: #f0a93e;
}

tbody {
  background-color: #eccc9c;
}

/*Transaction Form*/

.card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* background-color: #f0a93e; */
}

.transferBtn {
  background-color: #023047;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.transferBtn:hover {
  background-color: #007bff;
}

.form-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.mb-4 input {
  background-color: #fff9e8;
}

.mb-4 select {
  background-color: #fff9e8;
}

.form-control {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 14px;
}

.transactButton {
  background-color: #023047;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.transactButton:hover {
  background-color: #007bff;
}
