body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0a93e;
    color: #f0a93e;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.user {
    display: inline-block;
    margin: 10px 20px;
}

.user a {
    color: #fff;
    text-decoration: none;
}

.user a:hover {
    text-decoration: underline;
}

#content {
    display: flex;
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 5em; /* Cambiado de 0 a 3em */
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar summary {
    color: white;
}
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: #111;
    color: white;
    float: right;
  }

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 0.8125rem;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: var(--message-success-bg) url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: var(--body-fg);
    word-break: break-word;
  }
  ul > li {
    list-style-type: square;
    padding: 1px 0;
  }
  li, dt, dd {
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
  /* Estilo personalizado para el elemento row */
.custom-row {
    background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
    padding: 20px; /* Añade espacio interior al row */
    border-radius: 10px; /* Agrega bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra */
    margin-top: 20px; /* Añade margen superior */
    /* Otros estilos personalizados según tus preferencias */
  }
  
