body {
    font-family: Arial, sans-serif;
    background-color: #219ebc;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #f0a93e;
    color: #f0a93e;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.user {
    display: inline-block;
    margin: 10px 20px;
}

.user a {
    color: #023047;
    text-decoration: none;
    font-weight: bold;
}

.user a:hover {
    text-decoration: underline;
}

#content {
    display: flex;
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 5em; /* Cambiado de 0 a 3em */
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar summary {
    color: white;
}
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#navbarNav ul li a{
    color: #023047;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: #111;
    color: white;
    float: right;
  }

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 0.8125rem;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: var(--message-success-bg) url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: var(--body-fg);
    word-break: break-word;
  }
  ul > li {
    list-style-type: square;
    padding: 1px 0;
  }
  li, dt, dd {
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
  /* Estilo personalizado para el elemento row */
.custom-row {
    background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
    padding: 20px; /* Añade espacio interior al row */
    border-radius: 10px; /* Agrega bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra */
    margin-top: 20px; /* Añade margen superior */
    /* Otros estilos personalizados según tus preferencias */
  }

  main {
    background-color: #219EBC;
    height: 100vh;
    padding-top: 20px;
  }

  /* Center the login form */
  .formulario-defecto {
    font-family: Arial, sans-serif;
    background-color: #f0a93e;
  }

  .formulario-defecto h1 {
    text-align: center;
    font-weight: bold;
    color: #023047;
  }
  
  .formulario-defecto .alert {
    background-color: #8ECAE6;
    color: #023047;
    padding: 10px;
    border-radius: 5px;
  }
  
  .formulario-defecto .form-group {
    margin-bottom: 20px;
  }
  
  .formulario-defecto input[type="text"],
  .formulario-defecto input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario-defecto button{
    padding: 10px 20px;
    background-color: #023047;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .formulario-defecto .btn-primary{
    padding: 10px 20px;
    background-color: #023047;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .formulario-defecto button:hover{
    background-color: #126782;
  }
  
  .formulario-defecto .link {
    text-decoration: none;
  }

  .container-profile {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
  }
  
  .container-profile .profile h1, .container-profile .edit-profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #023047;
    text-align: center;
  }
  
.container-profile img.user-detail {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
  
.container-profile .info{
  margin-left: 10%;
}

  .profile p {
    margin-bottom: 0 !important;
    margin-bottom: 5px;;
  }

  .container-profile .user{
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .container-profile .profile , .edit-profile{
    background-color: #f0a93e;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    padding-left: 5%;
  }

.container-profile .button{
  padding: 10px 20px;
  background-color: #023047;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-profile .edit-profile .button{
  padding: 10px 20px;
  margin-left: 25%;
  background-color: #023047;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-profile .edit-profile .info{
  margin: 0px;
  margin-left: 15%;
}

.container-profile .edit-profile{
  width: 65%;
}

.container-profile .edit-profile .row{
  margin-left: 8%;
}

.container-profile .edit-profile form{
  width: 70%;
}

.edit-profile p{
  margin-bottom: 15%;
  width: 200%;
}

.container-profile .edit-profile .user-detail:hover {
  animation: neon-border 5s infinite alternate;
}
.fondo{
  background-color: #219EBC;
}

.btn-account{
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px 20px;
  background-color: #023047;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes neon-border {
  0% {
    box-shadow: 0 0 10px #3a86ff;
  }
  25% {
    box-shadow: 0 0 20px #7b2cbf;
  }
  50% {
    box-shadow: 0 0 30px #3a86ff;
  }
  75% {
    box-shadow: 0 0 40px #7b2cbf;
  }
  100% {
    box-shadow: 0 0 50px #3a86ff;
  }
}
