body {
  background-color: #6ca3a3;
}

svg#fish {
  top: 5em;
  z-index: 3;
}
/* Fish Animation */
svg#fish {
  overflow: visible;
}

@-webkit-keyframes swim_0 {
  0% {
    margin-left: -235px;
    transform: scaleX(1);
  }
  25% {
    margin-left: 200%;
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    margin-left: -150%;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes swim_0 {
  0% {
    margin-left: -235px;
    transform: scaleX(1);
  }
  25% {
    margin-left: 200%;
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    margin-left: -150%;
  }
  100% {
    transform: scaleX(1);
  }
}

@-webkit-keyframes swim_1 {
  0% {
    margin-left: -235px;
    transform: scaleX(1);
  }
  25% {
    margin-left: 25%;
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    margin-left: -25%;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes swim_1 {
  0% {
    margin-left: -235px;
    transform: scaleX(1);
  }
  25% {
    margin-left: 25%;
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    margin-left: -25%;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes swim {
  0% {
    margin-left: -235px;
    transform: scaleX(1);
  }
  25% {
    margin-left: 200%;
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    margin-left: -150%;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes swim {
  0% {
    margin-left: -235px;
    transform: scaleX(1);
  }
  25% {
    margin-left: 200%;
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    margin-left: -50%;
  }
  100% {
    transform: scaleX(1);
  }
}

svg {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: swim 50s;
  -webkit-animation: swim 50s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

/* svg.fish2{
      width: 235px;
      height: 104px;
      margin-left: -235px;
      position: absolute;	
      animation: swim_1 10s;
      -webkit-animation: swim_1 10s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
  } */

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
  fill: #528484;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

svg #fish3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

svg #fish4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

svg #fish5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

svg #fish6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  75% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@-webkit-keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  75% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes bounce {
  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  75% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
