{% extends "base.html" %}
{% load i18n %}
{% block title %}
{{ account.alias }} {% trans "Detalles" %}
{% endblock %}

{% block content %}
<div class="container">

  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="col-md-4">
    <div class="card account-card">
      <div class="card-header">
        <h2><a href="{% url 'clients:account_details' account.id %}">{{ account.alias }}</a></h2>
      </div>
      <div class="card-body">
        <p> {% trans "Código:" %} {{ account.code }}</p>
        <p> {% trans "Balance:" %} {{ account.balance }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'clients:edit_alias' account.id %}" class="btn btn-primary">{% trans "Editar alias" %}</a>
        <a href="{% url 'clients:deactivate' account.id %}" class="btn btn-danger">{% trans "Desactivar cuentas" %}</a>
      </div>
    </div>
  </div>
  {% if credit_cards %}
      {% include "cards/credit_card_list.html" with credit_cards=credit_cards %}

    </ul>
  {% else %}
    <p>
      <strong>{% trans "No hay tarjetas de crédito asociadas con esta cuenta." %}</strong>
    </p>
    <a href="{% url 'clients:add_credit_card_without_account' account.id %}" class="button">{% trans "Añadir tarjeta de crédito" %}</a>
  {% endif %}

</div>

<style>
    /* Estilos generales de la página */
    .container {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    /* Estilos para los encabezados */
    h1, h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    /* Estilos para los párrafos */
    p {
      margin-bottom: 10px;
    }
  
    /* Estilos para los botones */
    .button {
      padding: 10px 20px;
      background-color: #023047;
      color: #fff;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .button:hover {
      background-color: #007bff;
      color: #FFFFFF
    }
  
    /* Estilos para la lista de tarjetas de crédito */
    .credit-card-list {
      list-style-type: none;
      padding: 0;
    }
  
    .credit-card-item {
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f9f9f9;
    }
  
    /* Estilo para el botón flotante */
    .floating-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #007bff;
      color: #fff;
      border-radius: 50%;
      padding: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      font-size: 20px;
    }
  
    .floating-button a {
      text-decoration: none;
      color: inherit;
    }
  
    .floating-button span {
      display: block;
      text-align: center;
    }
  </style>
  
</style>

<!-- Botón flotante -->
<div class="floating-button">
  <a href="{% url 'clients:add_money' account.id %}">
    <span>&#x1F4B0;+</span>
  </a>
</div>
{% endblock %}
