{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Editar alias" %}{% endblock %}
{% block content %}

<div class="container-profile">
  <div class="container-fluid">
    <h1 class="editAliasTitle">{% trans "Editar alias" %}</h1>
    <form method="post" class="editAliasForm">
      {% csrf_token %}
      <p class="editAliasLabel">{% trans "Nuevo alias:" %}</p>
      <input type="text" name="new_alias" value="{{ account.alias }}" class="editAliasInput">
      <input type="submit" value={% trans "Guardar cambios" %} class="editAliasBtn">
    </form>
  </div>
</div>
<style>
  .container-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .editAliasTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .editAliasForm {
    display: flex;
    flex-direction: column;
  }
  
  .editAliasLabel {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .editAliasInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .editAliasBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .editAliasBtn:hover {
    background-color: #0056b3;
  }
  
</style>
{% endblock %}
